@media (max-width: 1023px) {
    .turn-on-mobile {
        display: inline-block;
        height: 0;
        background: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hero-wrap img {
        display: inline-block;
        max-width: 100%;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .fixed-header {
        max-width: 100%;
        text-align: center;
    }

    .fixed-header .navbar {
        padding: 0;
        display: block;
    }

    .fixed-header .navbar a {
        margin-bottom: 10px;
        text-align: center;
    }

    .fixed-header .navbar ul {
        margin: 0;
        padding: 7px 0;
        justify-content: space-between;
    }

    .hero-wrap img {
        display: inline-block;
        max-width: 100%;
    }

    .previews {
        margin: 0;
        text-align: center;
    }

    .footer .row-bottom {
        margin: 0;
        display: block;
        text-align: center;
    }

    .footer .copyright {
        padding-top: 12px;
    }
}
