* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.fixed-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    text-align: center;
    height: 100vh;
    background: url(../img/background.jpg) bottom/cover no-repeat;
}

.hero-wrap img {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar img {
    height: 40px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.designs {
    text-align: center;
    /* height: 120vh;
    margin-top: 79px;
    padding: 73px 0 64px;
    background-image: url(../img/forcetech-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box; */
}

.designs img {
    padding-top: 50px;
    max-width: 100%;
}

.analyses {
    text-align: center;
    /* height: 170vh;
    margin-top: 40px;
    padding: 93px 0 79px;
    background-image: url(../img/forcetech-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box; */
}

.analyses img {
    padding-top: 50px;
    max-width: 100%;
}

.previews video {
    padding-top: 70px;
    width: 100%;
}

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer img {
    height: 40px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.2rem;
    color: #c2c2c2;
}
